body{
    background-image: url('https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==');
}
h1{
    text-align: center;
    
    color:aqua;
}
h2{
    text-align:center;
    font-size: medium;
    color:aqua;
    
}
#dig
{
    position: absolute;
    left:400px;
    top:105px;
}
h3{
    text-align: center;
    font-size:medium ;
    color:aqua;
}
#skill{
    position:absolute;
    width:100px;
    height:100px;
    left:450px;
    top:400px;
    border-radius:60%;
}
h4{
    text-align: center;
    font-size: xx-small;
    color:aqua;
}
h5{
    text-align: center;
    font-size:xx-small;
    color:aqua;
}
h6{
    text-align: center;
    font-size: medium;
    color:aqua;
}
pre{
    text-align: center;
    font-size: medium;
    color:aqua;
}
#f{
    position: absolute;
    left: 530px;
    top:660px;
    border-radius: 50%;
}
#web{
    position:absolute;
    top:800px;
    left:410px;
    
}
#end{
    position:absolute;
    left:500px;
    top:1000px;

}
#images{
    position:absolute;
    top: 1070px;
    left:550px;
    border-radius: 50%;
    
}
#link{
    position:absolute;
    top:1300px;
    left:500px;
}
#hack{
    position:absolute;
    top:1270px;
    left:600px;
}
   
#email
{
    position: absolute;
    top:1400px;
    color:aqua ;
    
    left:500px;
}
#cont
{
    position:absolute;
    top:1420px;
    color:aqua;
    left:500px;
}
